.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
  .form input,
  .subscription input {
    margin: 10px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    font-weight: 600;
  }
  
  .subscription input {
    height: 40px;
  }
  
  .form .b {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .google_box_img {
    width: 40px;
    align-items: center;
  }